<!-- templates -->

<script type="text/x-template" id="tmpl_relogio">
  <div class="text-center">
    <h1>{{aTime}}</h1>
  </div>
</script>

<script type="text/x-template" id="tmpl_contador">
  <div class="row text-center" v-if="vcode === 2 || vcode === 3">
    <div class="col-md-4">
      <label>Contador</label>
      <select class="form-control" v-model="tipo">
        <option value="0">Selecione o Contador</option>
        <option value="1">Cronômetro</option>
        <option value="2">Temporizador</option>
      </select>
    </div>
    <div class="col-md-2" v-if="tipo=='2'">
      <label>Hora(s)</label>
      <input type="number" class="form-control" min="0" max="99" v-model="mhour" :disabled="started">
    </div>
    <div class="col-md-2" v-show="tipo!='0'">
      <label>Minuto(s)</label>
      <input type="number" class="form-control" min="0" max="59" v-model="mminute" :disabled="started">
    </div>
    <div class="col-md-2" v-show="tipo!='0'">
      <label>Segundo(s)</label>
      <input type="number" class="form-control" min="0" max="59" v-model="msecond" :disabled="started">
    </div>
    <div class="col-md-2" v-show="tipo!='0'">
      <label>Ação</label><br>
      <button type="button" class="btn btn-success" v-show="interval === ''" @click="count()">Iniciar</button>
      <button type="button" class="btn btn-danger" v-show="interval !== ''" @click="stopCount()">Parar</button>
      <button type="button" class="btn btn-default" v-show="vcode === 3 && tipo === '1' && interval !== ''" @click="mark()">Marcar</button>
      <button type="button" class="btn btn-primary" v-show="started" @click="reset()">Reset</button>
    </div>
    <div class="col-md-12">
      <h1 v-html="aCounter"></h1>
    </div>
  </div>
</script>

<script type="text/x-template" id="tmpl_marcador">
  <div class="text-center" v-if="marcados.length > 0">
    <ul>
      <li v-for="marcado in marcados">{{marcado}}</li>
    </ul>
    <button type="button" class="btn btn-primary" @click="clean()">Limpar Marcações</button>
  </div>
</script>
